.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  max-height: 39px;
  position: relative;
  right: 30px;
  top: 30px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-left: auto;
  margin: 30px 80px 0 0;
  font-weight: 500;
}

.nav__link {
  color: #000000;
  text-decoration: none;
}

.nav__link:hover {
  color: #2f80ed;
}
