.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  flex-direction: column;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
  height: clamp(720px, 100vh, 800px);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  max-height: 39px;
  position: relative;
  right: 30px;
  top: 30px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-left: auto;
  margin: 30px 80px 0 0;
  font-weight: 500;
}

.nav__link {
  color: #000000;
  text-decoration: none;
}

.header__title {
  margin: 183px 0 0 80px;
  max-width: 709px;
  line-height: 40px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 550;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin: 28px 0 0 80px;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 80px 40px 80px;
  font-weight: 500;
  color: #838383;
}

.header__paragraph {
  margin: 0;
}

.header__span-break {
  display: block;
}

.recipes {
  display: flow-root; /*this one is to avoid margin collaping or getting into the prior section*/
  background-image: url("../images/background_recipes.svg");
  background-color: #0a2750;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: aliceblue;
  box-sizing: border-box;
}

.recipes__title {
  margin: 100px 0 24px 80px;
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px 80px;
  max-width: 438px;
  font-family: "Noto Serif";
  font-weight: 350;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 215px;
}

.recipes__iframe {
  display: block;
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__video-caption {
  display: flex; /*this one is to push the margin in the class below*/
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.recipes__video-caption-text {
  margin-right: auto;
}

.reservation {
  display: flow-root;
  display: flex;
  flex-direction: column;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.reservation__form {
  margin: 0 auto;
  margin-bottom: 120px;
  max-width: 385px;
  box-sizing: border-box;
  width: 100%;
}

.reservation__title {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__label {
  margin-bottom: 8px;
  font-weight: 500;
}

.form__input {
  border-radius: 4px;
  margin-bottom: 32px;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  padding-left: 20px;
  /* padding-top: 15px; */
}

.form__button {
  background-color: #2f80ed;
  color: #ffffff;
  height: 60px;
  font-weight: 500;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__label-checkbox {
  display: flex;
  gap: 12px;
  margin: 0 auto;
  margin-top: 32px;
}
